
@{
    ViewData["Title"] = "Meeting";
}

<script>
</script>
<style>

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 30%;
        table-layout: fixed;
    }

    td, th {
        border: 0px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<script>
    function refreshBoton() {
        debugger;
        window.location = "Join?meetingId=" + '@Model.MeetingId' + "&userId=" + '@Model.UserId';
    }
</script>

<body>
    <form id="form3" runat="server">
        <div>
            <div style="display:flex">
                <div style="width: 70%; float: left;">
                    <div>
                        <div style="width: 100%; text-align: center">
                            <strong style="color:darkslateblue">Meeting : @Model.MeetingId in progress</strong>
                        </div>
                    </div>
                    <div style="height: 400px; background-color : black; margin-top: 30px;">
                        <div style="width: 75%; text-align: center;padding-top:25%; padding-left:25%">
                            <strong style="color:white">@Model.Name</strong>
                        </div>
                    </div>
                </div>
                <div style="margin-left: 5%; margin-right: 1%; width: 20%; margin-top: 5%; border-style: groove">
                    <div class="glyphicon glyphicon-refresh" style="margin-left: 90%;; margin-top: 1%" onclick="refreshBoton()"></div>
                    <div style="margin-left:5%">
                        @if (@Model.joinedUsers != null)
                        {
                            <br>
                            <div><b>In meeting:</b></div>
                            @foreach (var userAction in @Model.joinedUsers)
                            {
                                <table>
                                    <tr>
                                        <td style='width: 120px'>@userAction.UserName</td>
                                        @if (userAction.duration != null)
                                        {
                                            <td style='width: 60px'>@userAction.duration min</td>
                                        }
                                    </tr>
                                </table>
                            }
                        }

                        @if (@Model.lateUsers != null)
                        {
                            <br>
                            <div><b>Running late:</b></div>
                            @foreach (var userAction in @Model.lateUsers)
                            {
                                <table>
                                    <tr>
                                        <td style='width: 120px'>@userAction.UserName</td>
                                        @if (userAction.duration != null)
                                        {
                                            <td style='width: 60px'>@userAction.duration min</td>
                                        }
                                    </tr>
                                </table>
                            }
                        }


                        @if (@Model.declinedUsers != null)
                        {
                            <br>
                            <div><b>Declined:</b></div>
                            @foreach (var userAction in @Model.declinedUsers)
                            {
                                <table>
                                    <tr>
                                        <td style='width: 120px'>@userAction.UserName</td>
                                        @if (userAction.duration != null)
                                        {
                                            <td style='width: 60px'>@userAction.duration min</td>
                                        }
                                    </tr>
                                </table>
                            }
                        }


                        @if (@Model.noResponseUsers != null)
                        {
                            <br>
                            <div><b>Others invited:</b></div>
                            @foreach (var userAction in @Model.noResponseUsers)
                            {
                                <table>
                                    <tr>
                                        <td style='width: 120px'>@userAction.UserName</td>
                                        @if (userAction.duration != null)
                                        {
                                            <td style='width: 60px'>@userAction.duration min</td>
                                        }
                                    </tr>
                                </table>
                            }
                        }
                    </div>
                </div>



            </div>
            <br />
        </div>
    </form>


</body>